[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = CAVA (Camera Vision Pipeline on gem5-Aladdin)
[access "refs/*"]
	owner = group user/Yuan Yao (yaoyuannnn)
[access "refs/heads/*"]
	create = group user/Yuan Yao (yaoyuannnn)
	push = +force group user/Yuan Yao (yaoyuannnn)
	pushMerge = group user/Yuan Yao (yaoyuannnn)
	read = group user/Yuan Yao (yaoyuannnn)
[access "refs/tags/*"]
	push = group user/Yuan Yao (yaoyuannnn)
	push = +force group user/Yuan Yao (yaoyuannnn)
[access "refs/for/*"]
	label-Code-Review = -2..+2 group user/Yuan Yao (yaoyuannnn)
	label-Verified = -1..+1 group user/Yuan Yao (yaoyuannnn)
	push = +force group user/Yuan Yao (yaoyuannnn)
	read = group user/Yuan Yao (yaoyuannnn)
	rebase = group user/Yuan Yao (yaoyuannnn)
	removeReviewer = group user/Yuan Yao (yaoyuannnn)
	submit = group user/Yuan Yao (yaoyuannnn)
